<div class="container" id="about">
  <p class='display-4'>Contact Information</p>
  <div class="row ml-3">
    <div class="col-xs-12 col-md-6 col-xl-3">
      <i class="mr-3 fas fa-laptop"></i>
      <a href="http://leseanbruneau.com" target="_blank" rel="noopener noreferrer">Website</a>
    </div>
    <div class="col-xs-12 col-md-6 col-xl-3">
      <i class="mr-3 fas fa-rss"></i>
      <a href="https://medium.com/@leseanbruneau" target="_blank" rel="noopener noreferrer">Blog</a>
    </div>
    <div class="col-xs-12 col-md-6 col-xl-3">
      <i class="mr-3 fab fa-twitter"></i>
      <a href="https://twitter.com/leseanbruneau" target="_blank" rel="noopener noreferrer">@leseanbruneau</a>
    </div>
    <div class="col-xs-12 col-md-6 col-xl-3">
      <i class="mr-3 fab fa-github"></i>
      <a href="https://github.com/leseanbruneau" target="_blank" rel="noopener noreferrer">GitHub Repo</a>
    </div>
  </div>
  <hr />
  <p class='display-4'>Updates</p>
  <hr />
  <div class="display-5">
    <ul>
      <li>6/8/2020 - Updates to Links page</li>
      <li>6/7/2020 - Fix for page routing, added Links and About pages</li>
      <li>5/24/2020 - Initial site and page set up</li>
    </ul>
    <p>
    </p>
  </div>
  <br />
</div>

