<nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #ffd700;">
  <div class="container">
    <div class="nav-item pr-2" data-toggle="collapse" data-target="#navbarCollapse">
      <a routerLink="home" class="nav-brand ntitle">COVID-19 Portal</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" 
      aria-expanded="false" aria-label="Toggle navigation" style="color: #800000;">
      <span class="navbar-toggler-icon" style="color: #800000;"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" data-toggle="collapse" data-target="#navbarCollapse">
          <a routerLink="people" class="nav-link px-4" style="color: #800000; font-weight: bold;">People</a>
        </li>
        <!-- 
        <li class="nav-item" data-toggle="collapse" data-target="#navbarCollapse">
          <a routerLink="scientist" class="nav-link px-4" style="color: #800000; font-weight: bold;">Scientist</a>
        </li>
        -->
        <li class="nav-item" data-toggle="collapse" data-target="#navbarCollapse">
          <a routerLink="org" class="nav-link px-4" style="color: #800000; font-weight: bold;">Organization</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target="#navbarCollapse">
          <a routerLink="state" class="nav-link px-4" style="color: #800000; font-weight: bold;">Government</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target="#navbarCollapse">
          <a routerLink="links" class="nav-link px-4" style="color: #800000; font-weight: bold;">Links</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target="#navbarCollapse">
          <a routerLink="about" class="nav-link px-4" style="color: #800000; font-weight: bold;">About</a>
        </li>
        <!-- 
        <li class="nav-item" data-toggle="collapse" data-target="#navbarCollapse">
          <a routerLink="media" class="nav-link px-4" style="color: #800000; font-weight: bold;">Media</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target="#navbarCollapse">
          <a routerLink="company" class="nav-link px-4" style="color: #800000; font-weight: bold;">Company</a>
        </li>
        -->
      </ul>
    </div>
  </div>
</nav>
