#organization {
  padding-top: 75px;
}

.card {
  border: 2px solid black;
  margin-bottom: 2rem;
}

.card-header {
  background-color: lightskyblue;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

div.card-header:hover { 
  cursor:pointer
}

.title {
  font-size: 0.8rem;
  font-weight: normal;
}
