<div id="home" class="container">
  <br />
  <div class="display-4">
    COVID-19 Information
  </div>
  <hr />
  <div class="display-5">
    <strong>Website Intent</strong>
    <hr />
  </div>
  <p>
    I created a COVID-19 for one place to document news and information about the virus.  Although I'm the only one planning to use this site, all 
    content is public information for anyone to read.  I'm trying to filter out the occasional "political noise" around COVID-19 to just provide facts 
    and data regarding the health pandemic.  I'm praying for no second wave this fall, but if there is I would to know more about the virus and 
    be able to evaluate public data to confirm (or question) reported trends in Minnesota and across the United States.
  </p>
  <p>
    I'll update this site from time to time.  To get started, I'm just linking to some Twitter feeds.  There will not be daily updates, just when I have time or come across something interesting that I would like to add.
  </p>
</div>
