<div id="home" class="container">
  <br />
  <div class="display-4">
    COVID-19 Information
  </div>
  <hr />
  <div class="display-5">
    <strong>Website Intent</strong>
    <hr />
  </div>
  <p>
    This site is simple:  Provide quick access to COVID-19 related information.  Obviously, this site is for me but nothing secret here.  Public COVID-19 related information.
  </p>
  <p>
    I'll update this site from time to time.  To get started, I'm just linking to some Twitter feeds.  There will not be daily updates, just when I have time or come across something interesting that I would like to add.
  </p>
</div>
